<!DOCTYPE html>
<html>
<head>
	<title>Add Company</title>
</head>
<body>
	<form method="POST" action="/company">
		<label>First Name</label><br>
		<input type="text" name="first_name">
		<br>
		<label>Last Name</label><br>
		<input type="text" name="last_name">
		<br>
		<label>Email</label><br>
		<input type="text" name="email">
		<br>
		<label>IP Address</label><br>
		<input type="text" name="IP_Address">
		<br>
		<label>Company</label><br>
		<input type="text" name="company">
		<br>
		<label>WebSite</label><br>
		<input type="text" name="web_address">
		<br>
		<label>Phone Number</label><br>
		<input type="text" name="phone_number">
		<br>
		<label>Candy One</label><br>
		<input type="text" name="candy_one">
		<br>
		<label>Candy Two</label><br>
		<input type="text" name="candy_two">
		<br>
		<label>Candy Three</label><br>
		<input type="text" name="candy_three">
		<br>
		<label>Date</label><br>
		<input type="date" name="date">
		<br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>