<!DOCTYPE html>
<html><head>
<script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>
  <script src="js/main.js"></script>
  <link rel="stylesheet" href="css/styles.css">	
</head>
  
<body>

<h1>Candy Ingestor</h1>

<ul class="tab">
  <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Home')" id="defaultOpen">Home</a></li>
  <li><a href="javascript:void(0)" class="tablinks" onclick="populateCompanies(retrieveJSON())">ParseCSV</a></li>
  <li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'AddCompany')">Add Company</a></li>
</ul>

<div id="Home" class="tabcontent">
  <h3>Home</h3>
  <p>This API will parse a csv file and place the data into two collections, Companies, and Candy Items</p>
	<ul id="companyList"></ul>
</div>

<div id="ParseCSV" class="tabcontent">
  <h3>Parse CSV</h3>
  <form action='' method='POST' enctype='multipart/form-data'>
    <input type='file' name='userFile'><br>
    <input type='submit' name='upload_btn' value='upload'>
	</form>
</div>

<div id="AddCompany" class="tabcontent">
  <h3>Add a Company</h3>
  <form method="POST" action="/company">
		<label>First Name</label><br>
		<input type="text" name="first_name">
		<br>
		<label>Last Name</label><br>
		<input type="text" name="last_name">
		<br>
		<label>Email</label><br>
		<input type="text" name="email">
		<br>
		<label>IP Address</label><br>
		<input type="text" name="IP_Address">
		<br>
		<label>Company</label><br>
		<input type="text" name="company">
		<br>
		<label>WebSite</label><br>
		<input type="text" name="web_address">
		<br>
		<label>Phone Number</label><br>
		<input type="text" name="phone_number">
		<br>
		<label>Candy One</label><br>
		<input type="text" name="candy_one">
		<br>
		<label>Candy Two</label><br>
		<input type="text" name="candy_two">
		<br>
		<label>Candy Three</label><br>
		<input type="text" name="candy_three">
		<br>
		<label>Date</label><br>
		<input type="date" name="date">
		<br><br>
		<input type="submit" value="Submit">
	</form>
</div>
<script>document.getElementById("defaultOpen").click();
document.onload = function(){
	populateCompanies(retrieveJSON("http://localhost:3000/company"));
}
</script>
</body>
</html>

